<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="ModoEvaluacion" value="Inicial"/>
        <add key="IdEstacion" value=""/>
        <add key="Modelo" value="1"/>
        <add key="Empresa" value="PcParis"/>
        <add key="VersionRegistro" value="0"/>
        <add key="AlmacenarInformes" value="No"/>
        <add key="IntervaloEjecucion" value="8"/>
        <add key="EjecucionScripts" value="00:00"/>
    </appSettings>
    <connectionStrings>
        <add name="LocalBBDD" connectionString="server=192.168.1.10;userid=paris;password=paris;database=TFG"/>
        <add name="RemoteBBDD" connectionString="server=192.168.1.10;userid=paris;password=paris;database=TFG"/>
        <add name="SftpHost" connectionString="192.168.1.10"/>
        <add name="SftpPort" connectionString="22"/>
        <add name="SftpWorkingDirectory" connectionString="/var/www/"/>
        <add name="SftpUser" connectionString="pi"/>
        <add name="SftpPassword" connectionString="raspberry"/>
    </connectionStrings>
</configuration>